.form-filter{
  max-width: 1150px;
  .ivu-form-item{
    margin-bottom: 6px;
  }
}
.pagination{
  display: flex;
  justify-content: center;
  padding: 20px;
}
/*报警管理*/
.sos{
  .form-filter{
    width: 100%;
    max-width: 100%;
    .ivu-input-wrapper,.ivu-select{
      width: 200px;
    }
  }

}
.accept-modal{
  padding:0 20px;
  .sos-info{
    font-size: 14px;
    margin-bottom: 20px;
    strong{
      color: #ff9900;
    }
  }
  .cur-guard{
    margin-top: 10px;
    font-size: 14px;
    h4{
      color: #666;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      position: relative;
      margin-bottom: 15px;
      &:before,&:after{
        content: '';
        width:35%;
        height: 1px;
        background: #ddd;
        position: absolute;
        top: 50%;
        left: 0;
      }
      &:after{
        left: 65%;
        right: 0;
      }
    }

  }
}
.view-detail{
  .time{
    font-size: 14px;
    color: #2d8cf0;
    font-weight: bold;
  }
  .timeline-content{
    padding-left: 5px;
    font-size: 13px;
    strong{
      color: #ff9900;
    }
  }
}

//投诉表扬
.praise{
  .filter-form{
    .ivu-form-item{
      margin-bottom: 5px;
    }
  }
}
