
.info-card-con{
  height: 100px;
  .height-100{
    height: 100%;
  }
  .infor-card-total-con{
    height: 100%;
  }
  .infor-card-total{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    .total-count{
      font-size: 30px;
    }
    .total-text{
      font-size: 12px;
    }
  }
  .infor-intro-text{
    font-size:14px;
    font-weight:500;
    color:#999;
  }

  strong{
    font-size: 18px;
  }
  .data-card{
    padding: 15px 20px;
  }
}

