.height-100{
  height: 100%;
}
.broadcast-list{
  height: 202px;
  .broadcast{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    a{
      flex:1;
      white-space: nowrap;
      max-width: 90%;
      overflow: hidden;
      text-overflow:ellipsis ;
    }
    span{
      width: 80px;
      color: #999;
      text-align: right;
    }
  }
}

.controls{
  display: flex;
  flex-wrap: wrap;
  .control-btn{
    flex: 50%;
    color: #2d8cf0;
    user-select: none;
    display: inline-block;
    text-align: center;
    cursor:pointer;
    padding: 20px;
    &:hover{
      color: #5cadff;
    }
  }
}
