.text-right{
  text-align:right;
}
/*transition定义动画*/
/* 设置持续时间和动画函数 */
.slide-fade-enter-active {
  transition: all .3s ease;

}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  opacity: 0;
}
.slide-fade-enter, .slide-fade-leave
  /* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(30px);
  opacity: 0;
}
.slide-enter-active{
  animation: slideLeft .3s linear;
}
.slide-leave-active{
  animation:slideRight .3s linear;
}
.slide-leave,.slide-enter{
  opacity: 0;
  transform:translateX(30px)
}
.pagination{
  display: flex;
  justify-content: center;
  padding: 20px;
}
.clearfix{
  overflow: hidden;
  &:after{
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.mb-15{
  margin-bottom: 15px;
}
.mt-15{
  margin-top: 15px;
}
.ml-15{
  margin-left: 15px;
}
.form-tag{
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 2px 4px 2px 0;
  padding: 0 8px;
  border: 1px solid #e8eaec;
  border-radius: 3px;
  background: #f7f7f7;
  font-size: 12px;
  vertical-align: middle;
  opacity: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  input[type="radio"],input[type="checkbox"]{
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }
  &.checked{
    background: #2d8cf0;
    color: #fff;
  }
}
.textarea{
  display: inline-block;
  width: 100%;
  height: 100px;
  line-height: 1.5;
  padding: 4px 7px;
  font-size: 12px;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #515a6e;
  background-color: #fff;
  background-image: none;
  position: relative;
  cursor: text;
  transition: border .2s ease-in-out,background .2s ease-in-out,box-shadow .2s ease-in-out;
  &:focus{
    //border-color: ;
  }
}
.delete-modal{
  .ivu-icon{
    font-size: 32px;
    color: #ff6239;
  }
  h4{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    color: #ff6239;
  }
  p{
    font-size: 14px;
    text-align: center;
  }
}
.delete-alert{
  display: flex;
  padding: 15px 10px;
  margin-top: 10px;
  align-items: center;
  .ivu-icon{
    font-size: 32px;
    color: #ff6239;
  }
  .delete-text{
    font-size: 14px;
    padding: 5px 10px;
  }
}
.filter-form{
  .ivu-form-item-content{
    //display: inline-block;
  }
}
input[type="file"]{
  height: 30px;
  line-height: 25px;
}

@keyframes slideLeft {
  0%{
    transform:translateX(30px);
    opacity: 0;
  }
  100%{
    transform:translateX(0);
    opacity: 1;
  }
}
@keyframes slideRight {
  0%{
    transform:translateX(0px);
    opacity: 1;
  }
  100%{
    transform:translateX(30px);
    opacity: 0;
  }
}


/*登录页对iview的修改*/
.ivu-btn-primary{
  color: #fff;
  background-color: #039dff;
  border-color: #039dff;
}
.login-container{
  .ivu-form-item-required .ivu-form-item-label:before{
    content: '';
    display: none;
  }
  .ivu-form{
    .ivu-btn{
      &:focus{
        box-shadow: none;
      }
    }
    .ivu-form-item-label{
      font-size: 14px!important;
      padding-bottom: 8px;
      color: #aeaeae;
    }
    .ivu-input{
      border: none;
      border-bottom: 1px solid #ccc;
      border-radius: 0;
      &:focus{
        border-color: #039dff;
        box-shadow: none;
      }
    }
    .ivu-input-group-prepend{
      color: #039dff;
      text-align: center;
      font-size: 18px;
      background-color: transparent;
      border: none;
      border-bottom:1px solid #ccc;
      border-radius: 0;
    }
    .ivu-input-group-append{
      background-color: transparent;
      border: none;
      padding-left: 4px;
      .ivu-btn{
        border-color: #039dff;
        background-color: #039dff;
        color: #fff;
        margin: -6px -7px;
        margin-left: 5px;
        outline:none;
        &:active{
          background: #2b85e4;
        }
      }
    }
  }
}
.form-text{
  display: block;
  padding: 10px 12px 10px 0;
  line-height: 1em;
}
.collapsed-menu .ivu-menu-submenu-title-icon{
  display: none!important;
}
.tips{
  color:#999;
  font-size: 14px;
}
.text-info{
  color: #2db7f5;
}
.btn-link{
  border: none;
  text-decoration: none;
  color: #039dff;
  background: transparent;
  cursor: pointer;
  &:focus{
    border: none;
    outline: none;
  }
  &:hover{
    opacity: .7;
  }
}
